#Form{
    
    background-color:white;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    padding-left: 50px;
}

#FormForForgotPassword{
    
    background-color:white;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    padding-left: 50px;
}

.p{
    font-size: x-large;
    padding-right: 200px;
    padding-top: 10px;
}

.passWord{
    width: 300px;
    height: 20px;
}

.check{
   padding-right: 100px;
}

#loginButton{
    width: 100px;
    height: 30px;
    color: white;
    background-color: red;
    border: 0;
    margin: 20px 0 10px 100px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

*{
    margin: 0;
    padding: 0;
}

#ForgotPassword{
    border: 0;
    margin-bottom: 10px;
    background-color: white;
}

#CreateNewUser {
    border: 0;
    margin-bottom: 10px;
    background-color: white;
}

#OTPclick{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2;
    background-color: red;
    color: white;
    height: 25px;
    padding-top: 3px;
    margin-top: 20px;
}

#OTP{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2;
    height: 25px;
    padding-top: 3px;
    margin-top: 20px;
}